.mail-box .box-menu a {
    cursor: pointer;
    color: #000;
}

.mail-box .box-menu {
    margin-bottom: 5px;
}

.mail-box input.form-control {
    width: 150px;
    display: inline-block;
    position: relative;
    top: 1px;
}