<div class="home">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 text-center">
            <div class="sidebar col-sm-12">
                <div>
                    <button id="new-message-btn" class="btn btn-success">New Message</button>
                </div>

                <mail-box-list mail-boxes="$ctrl.mailBoxes">Loading...</mail-box-list>
            </div>
        </div>

        <div class="col-lg-9 col-sm-12 col-md-8 text-left">
            <mail-box box-id="{{$ctrl.boxId}}" letters="$ctrl.letters">Loading...</mail-box>
        </div>
    </div>
</div>